<h1>
  <% if most_recent_status == 'open' %>
    Yes
  <% elsif most_recent_status == 'closed' %>
    No
  <% elsif most_recent_status == 'call' %>
    Maybe
  <% end %>
</h1>

<h2>
  <% if most_recent_status == 'call' %>
    <a href='<%= StatusScraper::CONDITIONS_URL %>' target='_blank' rel='noopener noreferrer'>It's complicated.</a> Call (209) 372-0200 (press 1 then 1) for more details.
  <% else %>
    Tioga Pass road is <a href='<%= StatusScraper::CONDITIONS_URL %>' target='_blank' rel='noopener noreferrer'><% if most_recent_status == 'open' %>open<% else %>closed<% end %></a>.
  <% end %>
</h2>
