<!DOCTYPE html>
<html>
  <head>
    <title>Is Tioga Pass Open?</title>
    <%= stylesheet 'main' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
