<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24940707-19"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-24940707-19');
    </script>
    <title>Is Tioga Pass Open?</title>
    <%= stylesheet 'main' %>
    <meta name="description" content="Up-to-date road conditions status for Tioga Road in Yosemite National Park.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
